# For MLflow runs
mlruns/
.mlflow/
tmp/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Artifacts (but not dataset)
MLProject/artifacts/
artifacts/
MLProject/Customer-Segmentation_clustered_basic.csv
MLProject/pca_projection_basic.csv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# MLflow tracking
.mlruns/

# Data (uncomment jika tidak ingin tracking data)
# data/
